[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/nord"]
	path = bundle/nord
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
